.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.registration {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.avatar {
    max-height: 50px;
    width: max-content;
}